<!DOCTYPE html>
<html>
  <head>
    <title> Welcome to Calendr. </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script defer src = "/cdn/pathLoader.js"></script>
    <style>
      .center {
        border: 5px;
        margin: auto;
        width: 50%;
        padding: 10px;
      }
    </style>
  </head>
</html> 

<body>
  <div class="center">
    <header> 
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="/cdn/resources/company-logo.png" alt="Company Logo" height="50">
        </a>
		  </nav>
    </header>

    <h1>Welcome to Calendr!</h1>
		<button type="Login" class="btn btn-primary" onclick="loadLogin()">Login</button>
    <button type="Sign-up" class="btn btn-primary" onclick="loadSignUp()">Sign-up</button>
  </div> 
</body>