<!DOCTYPE html>
<html>
<head>
    <title> Welcome to Calendr. </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</html> 
<body> 
    <header> 
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">
				<img src="company-logo.png" alt="Company Logo" height="50">
			</a>
		</nav>
    </header>
        <h1>Welcome to our landing page!</h1>
		<p>Here you will find information about our company and the products/services we offer.</p>
		<p>Feel free to explore and learn more about us.</p>
		<button type="Login" class="btn btn-primary" id = "login">Login</button>
        <script>
            document.getElementById("login").onclick = function() {loadLogin()};
            function loadLogin() {
              window.location.href = "/login";
            }
      </script>
      <button type="Sign-up" class="btn btn-primary" id = "signup">Sign-up</button>
      <script>
          document.getElementById("signup").onclick = function() {loadLogin()};
          function loadLogin() {
            window.location.href = "/signup";
          }
    </script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
