<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script defer src="../cdn/clientScripts/calendarControl.js"></script>
    <script defer src="../cdn/clientScripts/lecturerDashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <style>
        .smaller-text {
          font-size: 10px;
        }
        td {
            width: 50px;
        }
        .btn-purple {
            background-color: purple;
            color: white;
        }

        .btn-red {
            background-color: red;
            color: white;
        }

        body {
            background-image: url('../cdn/resources/purpleWaterCol.jpg');
        }
    </style>
</head>

<body>
    <div class="modal fade" id="createEventModal" tabindex="-1" aria-labelledby="createEventModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createEventModalLabel">Create Consultation Event</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="eventTitle" class="form-label">Event Title</label>
                            <input type="text" class="form-control" id="eventTitle" placeholder="Enter event title">
                        </div>
                        <div class="mb-3">
                            <label for="eventDate" class="form-label">Event Date</label>
                            <input type="date" class="form-control" id="eventDate">
                        </div>
                        <div class="mb-3">
                            <label for="eventTime" class="form-label">Event Time</label>
                            <input type="time" class="form-control" id="eventTime">
                        </div>
                        <div class="mb-3">
                            <label for="eventDuration" class="form-label">Event Duration (in minutes)</label>
                            <input type="number" class="form-control" id="eventDuration" min="1"
                                placeholder="Enter event duration">
                        </div>
                        <div class="mb-3">
                            <label for="maxStudents" class="form-label">Maximum Number of Students</label>
                            <input type="number" class="form-control" id="maxStudents" min="1"
                                placeholder="Enter maximum number of students">
                        </div>
                        <div id="modalBtnDiv">
                            <button type="button" class="btn btn-purple" onclick="addConsultation()" id="btnAdd">Create
                                Event</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for managing consultations -->
    <div class="modal fade bd-example-modal-lg" id="manageConsultationsModal" tabindex="-1" aria-labelledby="manageConsultationsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="manageConsultationsModalLabel">Manage Consultations</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <div class="table-responsive">
                                <table class="table table-striped" id="eventTable">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Title</th>
                                            <th>Date</th>
                                            <th>Time</th>
                                            <th>Duration</th>
                                            <th>Max Students</th>
                                            <th>Booked Students</th>
                                            <th>Cancel</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableBody">
                                        <!-- Table rows will be dynamically generated here -->

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-purple">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <div class="container my-5" id="greeting">
        <div class="row align-items-center">
            <div class="col-auto">
                <img src="/cdn/resources/company-logo.png" alt="Company Logo" height="100">
            </div>
            <div class="col">
                <h1 class="my-4" id="heading">Lecturer Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="text-center mb-1">
            <button id="todayBtn" class="btn btn-purple mr-2">Today</button>
        </div>
        <div class="text-center mb-3">
            <button id="prevMonthBtn" class="btn btn-purple mr-2">&lt; Prev Month</button>
            <span id="currentMonth"></span>
            <button id="nextMonthBtn" class="btn btn-purple ml-2">Next Month &gt;</button>
        </div>

        <div class="card">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sun</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                    </tr>
                </thead>
                <tbody id="calendarBody">
                    <!-- Calendar body will be dynamically generated here -->
                </tbody>
            </table>
        </div>
    </div>
    <!-- Button trigger modal -->
    <div class="container">
        <p> </p>
        <button type="button" class="btn btn-purple" data-bs-toggle="modal" data-bs-target="#createEventModal">
            Create Consultation
        </button>
        <!-- Button to trigger the modal for managing consultations -->
        <button type="button" class="btn btn-purple" data-bs-toggle="modal" data-bs-target="#manageConsultationsModal">
            Manage Consultations
        </button>
        <p> </p>
    </div>
</body>

</html>