<!DOCTYPE html>
<html>
<head>
  <title>Calendr. logs</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script defer src="/cdn/clientScripts/logs.js"></script>
  <style>
    body {
      padding: 20px;
    }
    .table-wrapper {
      height: 450px; /* Set the desired height */
      overflow: auto;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>All actions taken on Calendr.</h1>
    <div id="tableContainer"></div>
    <div>
      <p> </p>  
      <button type="submit" class="btn btn-primary" onclick="goBack()">Return</button>
    </div>
  </div>
</body>
</html>
